body {
  background-color: rgb(49, 47, 55);
  font-family: "Arial";
  color: white;
}

.App {
  text-align: center;
  padding: 20px;
}

.clock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clock {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.clock img {
  max-width: 50px;
  margin-bottom: 10px;
}

h1 {
  font-size: 60px
  

}











